@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://i.imgur.com/MBxCoMK.gif"),url("https://i.ytimg.com/vi/g9HSwA_4yGk/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top; 
    background-size: 150px 300px, cover;
    position: fixed;
    top: 20%;
    left: 20%;
}

h1, h2, h3 {
    font-family: 'Slabo 27px', serif;
}

br {
   display: block;
   margin: 2em 0;
   line-height:2em;
}

input {
    width: 75%;
    padding: 5px 20px;
    font-size: 100%;
    margin: 10px;
}

button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin: 10px;
}